extends layoutBS

block content 
  h1.nofloat Add a Review
  form(method='post' action="saveReview")
    p(style='white-space:pre;')
      |   Name:
      input(type='text', name='name', value=name)
      br
      |   School:
      input(type='text', name='school', value=school)
      br
      |   Dining Hall:
      input(type='text', name='dininghall', value=dininghall)
      br
      |   Food Quality:
      select.form-control.form-control-sm(type='text', name='fQuality', value=fQuality)
        option 0
        option 1
        option 2
        option 3
        option 4
        option 5
        option 6
        option 7
        option 8
        option 9
        option 10
      |   Food Variety:
      select.form-control.form-control-sm(type='text', name='fVariety', value=fVariety)
        option 0
        option 1
        option 2
        option 3
        option 4
        option 5
        option 6
        option 7
        option 8
        option 9
        option 10
      input(type='submit', value='Submit')
    hr
    h1.nofloat List of all Reviews
    form(method="post" action="deleteReview")
      ol
        each review in reviews
          li
            input(name="deleteReview" value=review.name type="checkbox")
            e #{review.name} --
            i #{review.school} -- 
            i #{review.dininghall}   
      input(type="submit" value="Delete checked items")
      hr
